<configuration>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
                </timestamp>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <message/>

                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>

                <context/>

                <pattern>
                    <pattern>
                        {
                          "service":"url-shortener"
                        }
                    </pattern>
                </pattern>

            </providers>

        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>